/* General Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
  background-color: #f4f4f9;
}

.title {
  font-size: 2.5rem;
  color: #4a90e2;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: linear-gradient(to bottom left,#B1C29E 20%,#DEAA79 100%);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mood {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 10px;
}

.workout {
  font-size: 1rem;
  color: #666666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .card {
    width: 100%;
    padding: 15px;
  }
}
